<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductLabel" jhiTranslate="shopManagerApp.product.home.createOrEditLabel">Create or edit a Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!product.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="product.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shopManagerApp.product.label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                [(ngModel)]="product.label" required/>
            <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.label?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shopManagerApp.product.buyingPrice" for="field_buyingPrice">Buying Price</label>
            <input type="number" class="form-control" name="buyingPrice" id="field_buyingPrice"
                [(ngModel)]="product.buyingPrice" required min="1"/>
            <div [hidden]="!(editForm.controls.buyingPrice?.dirty && editForm.controls.buyingPrice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.buyingPrice?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.buyingPrice?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.buyingPrice?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shopManagerApp.product.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="product.amount" required min="1"/>
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shopManagerApp.product.stays" for="field_stays">Stays</label>
            <input type="number" class="form-control" name="stays" id="field_stays"
                [(ngModel)]="product.stays" required min="0"/>
            <div [hidden]="!(editForm.controls.stays?.dirty && editForm.controls.stays?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stays?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.stays?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.stays?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shopManagerApp.product.modified" for="field_modified">Modified</label>
            <div class="input-group">
                <input id="field_modified" type="text" class="form-control" name="modified" ngbDatepicker  #modifiedDp="ngbDatepicker" [(ngModel)]="product.modified"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="modifiedDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shopManagerApp.product.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="product.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
