<div>
    <h2>
        <span jhiTranslate="shopManagerApp.warehouse.home.title">Warehouses</span>
        <button class="btn btn-primary float-right jh-create-entity create-warehouse-shp-mng" [routerLink]="['/', { outlets: { popup: ['warehouse-shp-mng-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="shopManagerApp.warehouse.home.createLabel">
            Create new Warehouse
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="warehouses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="shopManagerApp.warehouse.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stays"><span jhiTranslate="shopManagerApp.warehouse.stays">Stays</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modified"><span jhiTranslate="shopManagerApp.warehouse.modified">Modified</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productId"><span jhiTranslate="shopManagerApp.warehouse.product">Product</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let warehouse of warehouses ;trackBy: trackId">
                <td><a [routerLink]="['../warehouse-shp-mng', warehouse.id ]">{{warehouse.id}}</a></td>
                <td>{{warehouse.amount}}</td>
                <td>{{warehouse.stays}}</td>
                <td>{{warehouse.modified | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="warehouse.productId">
                        <a [routerLink]="['../product-shp-mng', warehouse.productId  ]" >{{warehouse.productId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../warehouse-shp-mng', warehouse.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'warehouse-shp-mng/'+ warehouse.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'warehouse-shp-mng/'+ warehouse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="warehouses && warehouses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
